.pokeball {
    @apply w-24 h-24 relative flex flex-col justify-between before:absolute before:w-8 before:h-8 before:bg-white/10 before:rounded-full before:m-8 gap-y-2;

    >div:first-child {
        @apply h-full relative overflow-hidden before:absolute before:w-24 before:h-24 before:border-[24px] before:border-white/10 before:rounded-full;
    }

    >div:last-child {
        @apply h-full relative overflow-hidden before:absolute before:w-24 before:h-24 before:border-[24px] before:border-white/10 before:rounded-full rotate-180;
    }
}

.pokeball-gray {
    @apply w-24 h-24 relative flex flex-col justify-between before:absolute before:w-8 before:h-8 before:bg-gray-300/50 before:rounded-full before:m-8 gap-y-2;

    >div:first-child {
        @apply h-full relative overflow-hidden before:absolute before:w-24 before:h-24 before:border-[24px] before:border-gray-300/50 before:rounded-full;
    }

    >div:last-child {
        @apply h-full relative overflow-hidden before:absolute before:w-24 before:h-24 before:border-[24px] before:border-gray-300/50 before:rounded-full rotate-180;
    }
}

.pokeball-colored {
    @apply relative flex justify-center w-24 h-24 rounded-full bg-gradient-to-tr from-gray-50 to-white shadow-md border overflow-hidden;

    >div:first-child {
        @apply absolute -top-2 w-36 h-[67px] rounded-[100%] bg-gradient-to-tr from-red-400 to-red-500 border-4 border-gray-800;
    }

    >div:last-child {
        @apply absolute w-6 h-6 mt-[45px] ml-0 bg-white rounded-[100%] border-4 border-gray-800;
    }

    &.animated>div:last-child {
        animation: movePokeballButton 5 .4s linear;
    }

    &.back>div:last-child {
        @apply animate-none hidden;
    }
}

@keyframes movePokeballButton {
    0% {
        @apply mt-[45px] ml-0 w-6;
    }

    12.5% {
        @apply mt-[41px] ml-16 w-[21px];
    }

    25% {
        @apply mt-[34px] ml-32 w-4;
    }

    40% {
        @apply -mt-8 ml-32 w-6;
    }

    60% {
        @apply -mt-8 -ml-32 w-6;
    }

    75% {
        @apply mt-[34px] -ml-32 w-4;
    }

    87.5% {
        @apply mt-[41px] -ml-16 w-[21px];
    }

    100% {
        @apply mt-[45px] ml-0 w-6;
    }
}

.pokeball-explosion {
    @apply absolute rounded-full;
    animation: pokeballExplosion 0.7s linear;
    animation-fill-mode: forwards;
    animation-delay: 2.2s;

    +.pokeball-explosion {
        animation-delay: 2.4s;
    }
}

@keyframes pokeballExplosion {
    0% {
        @apply w-16 h-16 opacity-100 border-8 border-yellow-100;
    }

    100% {
        @apply w-40 h-40 opacity-0;
    }
}

.pokeball-to-catch {
    @apply absolute top-[372px] left-2;

    &.animated {
        animation: bouncePokeball 2.1s, wigglePokeball 1s 2 2.8s;
        animation-fill-mode: forwards;

        @media only screen and (min-width: 768px) {
            animation: bouncePokeball2 2.1s, wigglePokeball2 1s 2 2.8s;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes bouncePokeball {

    0% {
        transform: translateZ(0);
        left: 8px;
    }

    24% {
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        transform: translate3d(0, -385px, 0) scaleY(1.1);
    }

    40% {
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        transform: translate3d(0, -150px, 0);
    }

    60% {
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        transform: translate3d(0, -280px, 0) scaleY(1.05);
    }

    74% {
        transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        transform: translate3d(0, -150px, 0) scaleY(.95);
    }

    90% {
        transform: translate3d(0, -200px, 0) scaleY(1.02);
    }

    100% {
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        transform: translate3d(0, -150px, 0);
        left: calc(40% - 100px);
    }
}

@keyframes bouncePokeball2 {

    0% {
        transform: translateZ(0);
        left: 8px;
    }

    24% {
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        transform: translate3d(0, -385px, 0) scaleY(1.1);
    }

    40% {
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        transform: translate3d(0, -80px, 0);
    }

    60% {
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        transform: translate3d(0, -280px, 0) scaleY(1.05);
    }

    74% {
        transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        transform: translate3d(0, -80px, 0) scaleY(.95);
    }

    90% {
        transform: translate3d(0, -140px, 0) scaleY(1.02);
    }

    100% {
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        transform: translate3d(0, -80px, 0);
        left: calc(60% - 120px);
    }
}

@keyframes wigglePokeball {
    60% {
        transform: translate3d(0, -150px, 0) rotate(0);
        transform-origin: center bottom;
    }

    70% {
        transform: translate3d(-8px, -150px, 0) rotate(-15deg);
    }

    80% {
        transform: translate3d(8px, -150px, 0) rotate(15deg);
    }

    90% {
        transform: translate3d(-8px, -150px, 0) rotate(-15deg);
    }

    100% {
        transform: translate3d(0, -150px, 0) rotate(0);
    }
}

@keyframes wigglePokeball2 {
    60% {
        transform: translate3d(0, -80px, 0) rotate(0);
        transform-origin: center bottom;
    }

    70% {
        transform: translate3d(-8px, -80px, 0) rotate(-15deg);
    }

    80% {
        transform: translate3d(8px, -80px, 0) rotate(15deg);
    }

    90% {
        transform: translate3d(-8px, -80px, 0) rotate(-15deg);
    }

    100% {
        transform: translate3d(0, -80px, 0) rotate(0);
    }
}

.pokemon-shrinking {
    animation: shrinkPokemon .6s ease-in;
    animation-fill-mode: forwards;
}

@keyframes shrinkPokemon {
    0% {
        @apply scale-100 opacity-100;
    }

    100% {
        @apply opacity-20;
        transform: scale(.001);
        transform-origin: bottom left;
    }
}
